/* TRENDING POSTS STYLE */

:root {
    --paragraph-color: #DF4881;
    --template-color: #54c2f1;
    --white-color: #ffff;
}

.navbar {
    background-color: rgb(228, 227, 227) !important;
    background-color: rgb(228, 227, 227) !important;
}


.slider-parent {
    box-shadow: 5px 5px 20px var(--template-color);
    margin-top: 10px;
    height: fit-content;
    border: 1px solid #dada;
    overflow: hidden;
    /* Ensure no overflow outside the parent */
}

.slider-header {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-header .slider-title {
    color: var(--template-color);
    font-size: 20px;
    font-weight: bold;
}

.slider-header .slider-close-btn {
    cursor: pointer;
}

.slider {
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    /* Ensure items stay in a single line */
    gap: 10px;
    /* Adjust the gap between child containers */
    overflow-x: auto;
    /* Enable horizontal scrollbar */
    overflow-y: hidden;
    padding: 10px 0;
    /* Add padding to the slider */
}


.child-container {
    box-shadow: 5px 5px 60px rgba(221, 170, 221, 0.414);
    border: 1px solid rgba(221, 170, 221, 0.807);
    min-width: 40%;
    max-width: fit-content;
    height: fit-content;
    margin: 0 5px;
    /* Adjust margins as needed */
    flex: 0 0 auto;
    /* Prevent shrinking */
    height: 150px;
}

.child-container .child-ele {
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 5px;
    gap: 3px;
}

.child-container .child-ele .blog-image {
    width: 30%;
    height: 100%;
}

.child-container .child-ele .blog-image img {
    width: 100%;
    object-fit: fill;
    /* Adjust image fit */
    height: 100%;
}

.child-container .child-ele .blog-content {
    width: 70%;
    overflow: hidden;
    /* Hide content overflow */
}

.blog-content div {
    display: inline-block;
    /* word-wrap: break-word; */
}

.author-name,
.comment-icon {
    text-align: end;
    color: #54c2f1;
    cursor: default;
}

/* END TRENDING POSTS STYLE */

/* ALL POST STYLE */

/* style for category btn */
.category-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    user-select: none;
}


.blogs .row .card {
    cursor: pointer;
    user-select: none;
    box-shadow: 3px 3px 10px black;
    border: 2px solid black;
}

.blogs .row .card:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.author {
    display: flex;
    justify-content: end;
    color: var(--template-color);
}

.card-body .card-text {
    text-align: justify;
    text-justify: inter-word;
}

.card-body .card-title::first-letter {
    text-transform: uppercase;
}

.card-body .author-name::first-letter {
    text-transform: uppercase;
}


/* END ALL POST STYLE */

/* PAGINATION STYLE */
/* .pagination {
    display: flex;
    justify-content: right;
    gap: 3px;
} */

/* END PAGINATION STYLE */

/* CODE FOR RESPONSIVENESS.. */
@media screen and (max-width: 993px) {

    /* TRENDING POSTS STYLE */
    .child-container {
        width: 95%;
        margin: 0 5px;
        height: cover;
        /* Adjust margins as needed */
    }

    .child-container .child-ele .blog-image img {

        height: 100%;
        object-fit: fill;
    }

    .child-container .child-ele .blog-content p {
        font-size: 2vw;
    }

    .child-container .child-ele .blog-content h5 {
        font-size: 3vw;
    }

    /* END TRENDING POSTS STYLE */

    /* ALL POSTS STYLE */
    .blogs .row .col {
        border-radius: 5px;
    }

    /* END ALL POSTS STYLE */
}